extends layout.pug 

block content 
  h2= post.title 
  h3 by @#{Postuser.name}
  p= post.content 
  hr


  each comment in comments 
    fieldset 
      span= comment.createdBy + ' @ ' + comment.timeStamp 
      if user.name == comment.createdBy
        form(style="display:inline;" action="/delete-comment/" + comment.id method="post")
          button 删除
      div= comment.content 


  hr
  from(action="/comment" method="post")
    textarea(name="content")
    input(name=`postId` value=post.id hidden)
    button 提交 


